:root {
    --border-color: #ff00dd;
    --border: 20px;
}
body {
    padding-top: 0;
    background-color: rgb(18, 1, 22);
    margin: 0 10%;
    display: absolute;
    position: relative;
    overflow-x: hidden;
    max-width: 1200px;
}

h1 {
    margin: 0;
    padding: 0;

    font-family: "Slackey", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
}

header {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    width: auto;
    height: 120px;
    background-color: var(--border-color);
}

img {
    display: flex;
    flex: 2;
    width: 200px;
    height: 200px;
    margin-bottom: 10px; 
    border-radius: 30px;
    object-fit: cover;

    border: 1px solid var(--border-color);
    -webkit-border-radius: var(--border);
       -moz-border-radius: var(--border);
            border-radius: var(--border);
    -webkit-box-shadow: 0px 0px var(--border) var(--border-color);
    -moz-box-shadow: 0px 0px var(--border) var(--border-color);
            box-shadow: 0px 0px var(--border) var(--border-color);
}

img:hover {
    transform: scale(1.05);
    transition: transform 200ms;
}

.img-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
